/* Morado #b31bfa claro  #d692f7 mas claro #E6BBFA*/
/* Azul #19a0fa claro  #b0ddfc*/
/* Verde #2bc553 claro  #a3d5af*/

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    position: relative;
  }

body {
    margin: 0;
    margin-bottom: 140px;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    color: white;
}

.logo_principal{
    height: 180px;
    width: auto;
    padding: 10px;
}

header{
    height: 200px;
    background-color: #9663ad;

}

#header {
    margin:auto;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.nav{
    display: flex;    
}

.nav > li {
    text-align: center;
    width: 100%;
}

.nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}